# Ignore compiled output and dependencies
/dist/
/node_modules/
/.cache/
# Ignore IDE and editor-specific files
.idea/
.vscode/
*.iml

# Ignore secret JSON files
# /src/secrets-firebase.json
# /src/secrets-google.json